<p-dataTable [value]="trips" [lazy]="true" [rows]="10" [paginator]="true"
             [totalRecords]="totalTripsCnt" (onLazyLoad)="loadMonthTripsLazy($event)">
  <header>Your Trip Plan for {{year}}/{{month}}</header>
  <p-column field="startDate" header="Start" styleClass="col-date">
    <template let-col let-trip="rowData" pTemplate="body">
      {{trip[col.field] | amDateFormat:'LL'}}
    </template>
  </p-column>
  <p-column field="endDate" header="End" styleClass="col-date">
    <template let-col let-trip="rowData" pTemplate="body">
      {{trip[col.field] | amDateFormat:'LL'}}
    </template>
  </p-column>
  <p-column field="destination" header="Destination" styleClass="col-destination"></p-column>
  <p-column field="daysToStart" header="Days" styleClass="col-days">
    <template let-col let-trip="rowData" pTemplate="body">
      {{trip[col.field] > 0 ? trip[col.field] : ''}}
    </template>
  </p-column>
  <p-column field="comment" header="Comment" styleClass="col-comment"></p-column>
</p-dataTable>
