<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        Travel Planner
      </a>
    </div>
    <button *ngIf="isLoggedIn" type="button" class="btn btn-default navbar-btn pull-left">
      <a routerLink="/my-trips/create">Enter a new trip</a>
    </button>
    <ul *ngIf="isLoggedIn" class="nav navbar-nav">
      <li><a routerLink="/my-trips">My Trips</a></li>
      <li><a [routerLink]="tripPlanLink">Next Month's Trip Plan</a></li>
      <li *ngIf="canManageUsers"><a routerLink="/users">Users</a></li>
    </ul>
    <ul *ngIf="isLoggedIn" class="nav navbar-nav navbar-right" (click)="$event.preventDefault()">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{userDescription}}</a></li>
      <li><a href (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<p-growl [value]="messages | async"></p-growl>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
