<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        Travel Planner
      </a>
    </div>
    <ul *ngIf="isLoggedIn" class="nav navbar-nav navbar-right" (click)="$event.preventDefault()">
      <li dropdown (onToggle)="toggled($event)">
        <a href (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<p-growl [value]="messages | async"></p-growl>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
