<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <name>TAVEL-PLANNER-SESSION-ID</name>
            <http-only>true</http-only>
            <!-- TODO: uncomment when HTTPS set up <secure>true</secure> -->
            <max-age>1800</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name/>
            <url-pattern>/api/sec/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>REGULAR_USER</role-name>
            <role-name>MANAGER</role-name>
            <role-name>ADMINISTRATOR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>REGULAR_USER</role-name>
    </security-role>
    <security-role>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>

</web-app>
